.data-display {
background-color: white;
width: max-content;
position: relative;
/* margin-left: 40vw;
margin-right: 40vw; */
margin:0 auto;
padding: 50px;
border-radius: 25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}